* {
  font-family: "JetBrainsMono Nerd Font", monospace;
}

window#waybar {
    background: rgba(30, 30, 46, 0);
}

#custom-firefox,
#custom-files,
#custom-terminal {
    margin: 6px 0;
    padding: 8px;
    border-radius: 12px;
    background: rgba(30, 30, 46, 0.6);
    color: #cdd6f4;
    transition: background 0.2s, opacity 0.2s;
}

#custom-firefox:hover,
#custom-files:hover,
#custom-terminal:hover {
    background: rgba(100, 120, 200, 0.8);
    opacity: 0.9;
}
